INSERT INTO Region (RegionID, RegionDescription) VALUES (5, 'Central')

INSERT INTO Region VALUES (6, 'Middle Earth')

select * from region

insert into dbo.SelectedProducts (ProductID)
select ProductID from products where categoryid = 1

SELECT * FROM SelectedProducts

INSERT INTO C2 (nombre, status) values ('GGG', 3)
SELECT @@IDENTITY
SELECT SCOPE_IDENTITY()
SELECT * FROM C2
